saved_db_1m.zip
saved_db_1m.csv
saved_db_20m.csv
saved_db_20m.zip
saved_db_1m_sorted.csv
saved_db_1m_sorted.zip
saved_db_20m_sorted.zip
saved_db_20m_sorted.csv
test_1m_z/*
__pycache__/*
submission.zip
submission/*